<div>
    _id:{{_id}}
    <table>
        <tr>
            <th>_id</th><td>{{probdatum._id}}</td>
        </tr>
        <tr>
            <th>name</th><td>{{probdatum.name}}</td>
        </tr>
        <tr>
            <th>L</th><td>{{probdatum.L}}</td>
        </tr>
        <tr>
            <th>R</th><td>{{probdatum.R}}</td>
        </tr>
        <tr>
            <th>key</th><td>{{probdatum.key}}</td>
        </tr>
        <tr>
            <th>data</th><td>{{probdatum.data}}</td>
        </tr>
        <tr>
            <th>data extraction from</th><td>{{probdatum["data extraction from"]}}</td>
        </tr>
        <tr>
            <th>data extraction to</th><td>{{probdatum["data extraction to"]}}</td>
        </tr>
        <tr>
            <th>execution time</th><td>{{probdatum["execution time"]}}</td>
        </tr>
        <tr>
            <th>ignore</th><td>{{probdatum.ignore}}</td>
        </tr>
        <tr>
            <th>cleaned</th><td>{{probdatum.cleaned}}</td>
        </tr>
    </table>
</div>